header {
    position: absolute;
    width: 100%;
}

nav {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.20);

}

menu {
    display: flex;
    gap: 10px;
    align-items: center;
}

menu a {
    color: white; 
    text-decoration: none;
}

menu a:hover {
    color: #176acf; 
}

logo {
    color: white;
    font-size: 20px;
}

.Mcont {
    background-image: url('./images/Bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding-left: 55px;
    display: flex;
    align-items: end;
}

.TBox {
    width: 530px;
    margin-bottom: 150px;


}

.Cbox {

    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    color: #FFF;
    text-align: right;
    font-family: var(--font-secondary);
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.Mtitle {
    margin: 15px 0px;
    color: #FFF;
    font-family: var(--font-primary);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Pcont {
    display: flex;
    gap: 10px;
    align-items: start;
}

.Mpra {
    color: #E5E5E5;
    font-family: var(--font-primary);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.bdr {
    margin-top: 8px;
    width: 38px;
    height: 1px;
    background-color: #E5E5E5;
}

.Mdate {
    color: #E5E5E5;
    font-family: var(--font-primary);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

icogap {
    display: flex;
    gap: 10px;
}

line {
    display: flex;
    background-color: white;
    height: 40px;
    width: 2px;

}

.container {
    width: auto;
    margin: 0px auto;
}

.popularTopics {
    margin-top: 100px;
    font-size: 36px;
}

.Cat {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;


}
.Cat a{
    color: black;
    text-decoration: none;
}

.Cat1 {
    display: flex;
    gap: 5px;
}

.box {
    display: flex;
    height: 450px;
    width: 300px;
    padding: 5px;
    border:2px solid aqua;
    border-radius: 5%;
    flex-direction: column;

}

.boxes {

    display: flex;
    background-image: url('./images/im2.jpg');
    background-size: cover;
    height: 280px;
    width: 100%;
    background-position: center;
    background-attachment: absolute;
    align-items: flex-start;
    justify-content: end;



}

.Box {
    margin-top: 1%;
    display: flex;
    gap: 4%;
    margin-bottom: 50px;
}

.imgb {
    width: 100%;
    height: 280px;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 15px;
    width: 90px;
    background-color: rgba(0, 0, 0, 0.111);
    margin-top: 20px;
}

.date {
    margin-top: 4px;
    font-size: 15px;
    font-weight: lighter;
}

.CTitle {
    margin-top: 8px;
    font-size: 17px;
    font-weight: bold;
}

.comment {
    font-weight: lighter;
    font-size: 15px;
    margin-top: 8px;
}

.Bbox {
    display: flex;
    background-image: url('./images/Bg.jpg');
    height: 500px;
    width: 100%;
    background-position: center;
    background-attachment: absolute;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #E5E5E5;
    }

.Rich {
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.hline {
    display: flex;
    height: 2px;
    width: 70px;
    background-color: #E5E5E5;
    margin-top: 10px;
}

.Bux {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
    gap: 3%;
    width: auto;

}

.bux {
    display: flex;
    background-image: url('./images/im2.jpg');
    background-repeat: no-repeat;
    height: 400px;
    width: auto;
    background-position: center;
    background-size: cover;
    color: #E5E5E5;
    flex-direction: column;
    align-items: end;
    justify-content: end;

}

.tagf {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 20px;
    width: 90px;
    background-color: rgba(0, 0, 0, 0.338);
    margin-bottom: auto;
    margin-right: 30px;
    margin-top: 25px;

}

.datef {
    margin-top: 4px;
    font-size: 15px;
    font-weight: lighter;
    margin-right: 300px;
}

.Rich {
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-left: 25px;
}

.Plaintxt {
    margin-left: 25px;
    margin-bottom: 25px;
}

.Foot1 {
    margin-top: 50px;
    display: flex;
    height: 300px;
    width: 100%;
    background-color: black;
    justify-content: space-between;
}

.Fins {
    align-items: center;
    display: flex;
    width: 100%;
    color: white;
    flex-direction: column;
    justify-content: center;

}

.Foot2 {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: rgb(119, 110, 110);
    align-items: center;
    justify-content: space-between;
}
.last{
    margin-left: 40px;
    margin-right: 40px;
}
.nav{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #f9f7f7;

}

#body{
    background-color: #f9f7f7;

}

.gap{
    display: flex;
    gap: 30px;
    align-items: center;
}
.search-form {
    display: flex;
    align-items: center;
    border-radius: 0px; 
    padding: 5px 10px; 
    background-color: white; 
    width: 480px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    height: 40px;
}

.search-form input {
    
    border: none; 
    outline: none;
    flex: 1;
    padding: 10px;
    font-size: 16px; 
    border-radius: 15px; 
    height: 35px;
}

.search-form button {
    border: none; 
    background: none; 
    cursor: pointer;
    color: #888; 
    padding: 0 10px; 
}

.search-form button:hover {
    color: #333; 
}
.pbutton{
    background-color: rgb(248, 191, 35);
    border: 0px solid red;
    padding: 5px 10px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
}

.mailbox{
    height: 30px;
    width:30px;
}
.mailbox:hover{
    height: 40px;
    width: 40px;
}
.Aline{
    display: flex;
    height: 50px;
    width: 2px;
    background-color:black;
}

.Ic{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Icc{
    display: flex;
    flex-direction: column;
}
.fw{
    font-weight: lighter;
    font-size: 15px;
}
.imgv{
    width: 150px;
    height: 40px;
}
.bN{
    font-weight: bold;
    width: 150px;
}
.srchbt{
    height: 40px;
}
.virallogo{
    height: 40px;
}
.proflogo{
    height: 40px;
}
.dcontainer {
    
    display: flex;
    padding: 25px;
    gap:25px;
    justify-content: center;
}
.nbcont{
    display: flex;
    flex-direction: column;
    height: 875px;
    width: 159px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    border: 1px solid 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    background-color: #FFF;
}
.pagecont{
    display: flex;
    flex-direction: column;
    width: 1689px;
    height: 875px;
    border: 1px solid 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 65px;
    font-weight: bold;
    background-color: #FFF;


}
.fcontainer {
    display: flex;
    flex-direction: column;
    background-color: #f9f7f7;
}
.Innernav{
    display: flex;
    flex-direction: row;
    height: 65px;
    align-items: center;
    width: 100%;
    padding-left: 70px;
    gap:20px;
    
}
.Innernav a{
    text-decoration: none;
}
.formBcont{
    display: flex;
    height: 100%;
    width:100%;   
    justify-content: space-between;
}
.formRcont{
    display:flex;
    height: 100%;
    width:69.4%;
    border: 2px solid #f9f7f7;
    padding: 60px;
    flex-direction: column;
    border-radius: 28px;
}
.loginCont{

    display: flex;
    flex-direction: column;
    height: 199px;
    width: 430px;
    border: 1px solid  rgba(255, 228, 154, 1);
    background-color: rgba(255, 253, 248, 255);
    padding-left: 40px;
    padding-top: 17px;
    padding-bottom: 20px;
    border-radius: 28px;
    
}
.fdt{
    margin-top: 10px;
    font-weight: lighter;
}
.tpbt{
    margin-top: 30px;
    height:40px;
    width: 120px;
    background-color: rgba(255, 228, 154, 1);
    border: none;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-weight: bold;



}
.tipalti{
    height: 50px;
    width: 100px;
}
.flname{
    margin-left: 40px;
    margin-top: 15px;
    display: flex; 
    gap: 30px;  
}
.formalign{
    display: flex;
    flex-direction: column;
}
.form2{
    padding: 5px;
    border-radius: 10px;
}
.RealCont{
    display: flex;
    gap:10px;
align-items: center;
}
.BoldName{
    font-size:17px;
    font-weight:bold;
}
.editicon{
    color: #176acf;
}
.editicon:hover{
    height: 20px;
    width:20px;
}
.form3{
    width: 230px;
    padding: 5px;
    border-radius: 10px;
}
.form4{
    width: 180px;
    padding: 5px;
    border-radius: 10px;
}
.form5{
    width: 120px;
    padding: 5px;
    border-radius: 10px;
}
.formma{
    flex-direction: column;
    display: flex;
    margin-bottom: 50px;
}
.CountryMa{
    display: flex;
    margin-bottom: 50px;
    margin-left:40px ;
    margin-top: 15px;
}
.a{
    height: 55px;
    width: 55px;
}
.a:hover{
    height: 65px;
    width: 65px;
}
.b{
    height: 65px;
    width: 65px;
}
.Aligner{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Accp{
    color:blue;
    font-weight: bold;
}
.Mchat{
    margin-top: 700px;
    display: flex;
    position: fixed;
    margin-left: 1500px;
}
.c{
    height: 80px;
    width: 80px;
}
.c:hover{
    height: 85px;
    width: 85px;
}